  <% if @user.errors.any? %>
    <div id="error_div">
      <h2>Formulár nemohol byť odoslaný</h2>
        <% for message in @user.errors.full_messages %>
          <%= message %><br>
        <% end %>
    </div>
    <br>
  <% end %>

<%= form_for @user, :url=> {:action =>"update_pass"} do |f| %>
<div id="user-content">
<%= f.hidden_field :pass_change, :value => "req" %>
	<h1><%= @user.first_name+" "+@user.last_name %> - Zmena hesla
	</h1> 
	<div id="user-info">

		<div class="form_field">
      <%= f.label :old_password, "Staré heslo : " %>
      <%= f.password_field :old_password %>
		</div>
		<div class="form_field">
      <%= f.label :password, "Heslo : " %>
      <%= f.password_field :password %>
      <span class="hint">heslo musí mať minimálne 8 znakov</span>
    </div>
    <div class="form_field">
      <%= f.label :password_confirmation, "Heslo znovu : " %>
      <%= f.password_field :password_confirmation %>
    </div>

		<div class="form_submit"><%= f.submit "Uložiť" %></div>

	</div>
</div>
<% end %>