<center>
  <% if @user.errors.any? %>
    <div id="error_div">
      <h2><%= Translation.make("Form can not be sent !", @translations) %></h2>
        <% for message in @user.errors.full_messages %>
          <%= message %><br>
        <% end %>
    </div>
    <br>
  <% end %>

    <h1><%= Translation.make("Registration", @translations) %></h1>

  <%= form_for @user, :url=> {:action =>"create"} do |f| %>
    
    <div class="form_field">
      <%= f.label :email, Translation.make("e-mail", @translations)+" : " %>
      <%= f.email_field :email %>
      <br><span class="hint"><%= Translation.make("E-mail will be used for loggin in.", @translations) %></span>
    </div>
    <div class="form_field">
      <%= f.label :first_name, Translation.make("First name", @translations)+" : " %>
      <%= f.text_field :first_name %>
    </div>
    <div class="form_field">
      <%= f.label :last_name, Translation.make("Last name" , @translations)+" : " %>
      <%= f.text_field :last_name %>
    </div>
    <div class="form_field">
      <%= f.label :password, Translation.make("Password", @translations)+" : " %>
      <%= f.password_field :password %>
      <br><span class="hint"><%= Translation.make("Password must be at least 8 characters long", @translations) %></span>
    </div>
    <div class="form_field">
      <%= f.label :password_confirmation, Translation.make("Password again", @translations)+" : " %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="form_submit"><%= f.submit Translation.make("Register", @translations) %></div>
  <% end %>
</center>