<header>
  <% if current_user %>
	  <div class="log_out">
	  	<%= link_to Translation.make("log out",@translations), log_out_path %>
		</div>
		<% if current_user["provider"]=="WEB" %>
			<div class="name">
				<%= link_to Translation.make("change password",@translations),  logged_changepwd_path, :class=>cp(logged_changepwd_path) %>
			</div>
		<% end %>
		<div class="name">
			<%= link_to current_user["user_name"], user_path(current_user["user_id"]) %>
		</div>

	<% else %>

		<div class="facebook">
	  	<%= link_to image_tag("facebook_icon.png", :class => "facebook_icon"), "/auth/facebook" %>
		</div>
		<div class="log_out">
	  	<%= link_to Translation.make("log in",@translations), log_in_path %>
		</div>
		<div class="log_out">
	  	<%= link_to Translation.make("register",@translations), sign_up_path %>
		</div>

  <% end %>

  <div class="home">
		<%= link_to Translation.make("home_page",@translations), root_path %>
	</div>
<!--   <div class="home">
		<%= link_to "Používatelia", users_path %>
	</div> -->
</header>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
