<header>
  <% if current_user %>
	  <div class="log_out">
	  	<%= link_to "Odhlásiť sa", log_out_path %>
		</div>
		<% if current_user["provider"]=="WEB" %>
			<div class="name">
				<%= link_to "Zmeniť heslo",  logged_changepwd_path, :class=>cp(logged_changepwd_path) %>
			</div>
		<% end %>
		<div class="name">
			<%= link_to current_user["user_name"], logged_path %>
		</div>

	<% else %>

		<div class="log_out">
	  	<%= link_to "Facebook", "/auth/facebook" %>
		</div>
		<div class="log_out">
	  	<%= link_to "Prihlásiť sa", log_in_path %>
		</div>
		<div class="log_out">
	  	<%= link_to "Registrácia", sign_up_path %>
		</div>

  <% end %>

  <div class="home">
		<%= link_to "Hlavná stránka", root_path %>
	</div>
<!--   <div class="home">
		<%= link_to "Používatelia", users_path %>
	</div> -->
</header>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
